---
import Main from '../layouts/main.astro';
import OutboundLink from '../components/outboundLink';
---

<Main title="Contact">
    <h1>Contact Me!</h1>
    <p>Wanna ask something, collaborate or just have a talk?</p>
    <p>
        Contact me through, LinkedIn, Instagram DM's or just shoot me an email
        (my id is samridh.anand.paatni at gmail).
    </p>
    <h1>Credits</h1>
    <p>
        This website was made using{' '}
        <OutboundLink to="https://reactjs.org/">React.js</OutboundLink>{' '}
        and{' '}
        <OutboundLink to="https://www.typescriptlang.org/">
            typescript
        </OutboundLink>{' '}
        hosted using Github Pages. . <br />
        Title bar icon by{' '}
        <OutboundLink to="https://icon-icons.com/">icon-icons</OutboundLink>
        , the rest are from{' '}
        <OutboundLink to="https://simpleicons.org/">simple icons</OutboundLink>
    </p>
    <h1>Copyleft</h1>
    <p>
        This website (and thus the github repo) and the coffee molecule
        structure image (on the home page) are open-source under the GNU GPL v-2
        license.
    </p>
</Main>
