---
import Main from '../layouts/main.astro';
import Imp from '../components/imp.astro';
import CycleTrough from '../components/cycleThrough';

const roles: string[] = [
    'web dev enthusiast',
    'UG Student at VIT Chennai',
    'Member of Linux Club',
    'computer geek',
    'cook',
    'food lover',
    'language nerd'
];
---

<Main title="Home">
    <h1>Hello 👋, I am Samridh!</h1>
    <span id="cycling-roles">
        I am a:{' '}
        <Imp>
            <CycleTrough array={roles} client:load />
        </Imp>
    </span>
</Main>

