---
import Main from '../layouts/main.astro';
import Imp from '../components/imp.astro';
import Projects from '../components/projects';
---

<Main title="Projects">
    <h1>My Projects</h1>
    <Projects />
    <section id="education">
        <h1>Education</h1>
        <h2>B.Tech in Computer Science and Education</h2>
        <b>September, 2020 to Present</b>
        <p>
            I am currently a 2nd Year UG student at{' '}
            <Imp>VIT, Chennai</Imp>. I have an 8.84 GPA accross 3 semesters.
        </p>
        <h2>
            Class XII<sup>th</sup> (PCM)
        </h2>
        <b>June, 2020</b>
        <p>
            I completed my class 12<sup>th</sup> education from{' '}
            <Imp>Millennium School, Lucknow</Imp>. I studied science and scored
            91.2%.
        </p>
    </section>
</Main>
