---
import './backgroundShapes.css';
---

<div id="bg-shapes">
    <div id="bg-wave">
        <div class="bg-wave-circle colour"></div>
        <div class="bg-wave-circle no-colour"></div>
        <div class="bg-wave-circle colour"></div>
        <div class="bg-wave-circle no-colour"></div>
        <div class="bg-wave-circle colour"></div>
        <div class="bg-wave-circle no-colour"></div>
        <div class="bg-wave-circle colour"></div>
        <div class="bg-wave-circle no-colour"></div>
        <div class="bg-wave-circle colour"></div>
        <div class="bg-wave-circle no-colour"></div>
    </div>
    <div id="bg-circle-one"></div>
    <div id="bg-circle-two"></div>
    <div id="bg-circle-three"></div>
</div>
