---
import '../styles/globals.css';
import '../styles/theme.css';
import BackgroundShapes from '../components/backgroundShapes.astro';
import SideLinks from '../components/sideLinks';
import Navigation from '../components/navigation.astro';
---

<html lang={'en'}>
    <head>
        <title>Portfolio!?</title>
    </head>
    <body>
        <BackgroundShapes />
        <SideLinks />
        <main><slot /></main>
        <Navigation />
    </body>
</html>

